*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input {
  border: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fade:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 1765px;
  width: 1440px;
  /* max-width: 1440px; */
  overflow: hidden;
}


.pop-up-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.3);
  z-index: 50;
}

.pop-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: baseline; */
  align-items: flex-start;
  align-content: flex-start;
  width: 650px;
  height: 660px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-top: 140px;
}

.popup_header {
  /* width: 328px; */
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 38px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0D606F;
}

.popup_sign_in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  /*  560px; */

  height: 56px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* color: #FFFFFF; */
  /* background: #1877F2; */
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.popup_facebook {
  color: #FFFFFF;
  background: #1877F2;
  margin-top: 30px;
}

.popup_google {
  color: #0D606F;
  background: #FFFFFF;
  margin-top: 20px;
  padding-right: 3px;
}

.popup_google_text {
  margin-left: 10px;
}

.popup_icon_google {
  margin-top: 5px;

}

.popup_button {
  width: 100%;
  height: 54px;
  background: #0D606F;
  color: #FFFFFF;
  margin-top: 25px;
}

.popup_sign_in_icon {
  margin-right: 15px;
}

.popup_or_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}


.popup_or {
  width: 40%;
  /*261px;*/

  height: 1px;
  border: 1px solid rgba(13, 96, 111, 0.5);
}

.popup_or_text {
  width: 20px;
  height: 24px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  margin: 0 10px;
}


.popup_label {
  display: block;
  width: 47px;
  height: 19px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
  margin-bottom: 5px;
}

.popup_form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.popup_input {
  width: 100%;
  /*560px;*/

  height: 54px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 0 10px;

}

.popup_input_password {
  margin-top: 20px;
}

.popup_forgotlink {
  width: auto;
  height: 18px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  margin-top: 11px;
  cursor: pointer;
}

.popup_input_email, .popup_input_password {
  width: 100%;
}

.reg_link {
  margin: 0;
}

#account {
  width: 100%;
  padding: 0 7%;
}

.popup_line {
  /* width: 560px; */
  width: 86%;
  height: 0px;
  border: 1px solid rgba(13, 96, 111, 0.5);
  transform: rotate(0.1deg);
  margin-top: 25px;
}

.popup_register {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 18px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  margin-top: 20px;
}

.container-header {
  width: 100%;
}

.bg-container {
  width: 100%;
  min-height: 765px;
  background: center url(../images/bg.jpg);
}

.header-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 120px;
  width: 100%;
  height: 5.625rem;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-position {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;

}

.nav-container {
  /* display: flex; */
  margin-left: 140px;
}

.navigation {
  width: 527px;
  height: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 46%;
  /* background: #0D606F;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  border-radius: 10px;
  border: 0px; */
  margin-left: 195px;
  margin-top: 1px;

}

/* .login>button {  
  margin: 0;
  padding: 0;
  border: 0;
  background: #0D606F;
} */

.text-link {
  width: 15%;
  height: 34.44%;
  font-family: 'Magra', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4375rem;
  margin-left: 7px;
  margin-bottom: 10px;
}

.logo-link {
  padding-left: 0px;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-bottom: 8px;
  background: center no-repeat url(../images/media390/travel_logo.svg);
}

.logo-img {
  margin-left: 3.25rem;
  margin-bottom: 2px;
}

.login-text:focus {
  outline: #FFFFFF 2px dotted;
}

.login-text {
  display: flex;
  width: 103px;
  height: 41px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  border-radius: 10px;
  border: 0px;
  /* margin-right: 7.5rem;
  margin-top: 1px; */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 62%;
  /*892px / 1440px*/
  height: 26.375rem;
  margin-left: 7.5rem;
  margin-top: 2rem;
}

.explore-h1 {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0px;
  margin-bottom: 1px;
  color: #FFFFFF;
}

.explore-p {
  width: 81.05%;
  height: 1.5rem;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 1rem;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 5.9375rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  margin: 0;
  margin-bottom: 2px;
}



.input-plan-style {
  display: flex;
  align-items: center;
  width: 62.78%;
  /*560/892 px*/
  height: 1.875rem;
  border: 0;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  margin-left: 2.58rem;
  overflow: visible;
  background: 0;
  /* background: rgba(255, 255, 255, 0.7); */

}

.input-plan-style:focus {
  outline: none;
}

button:focus {
  outline: #F2785C 2px dotted;
}

a:focus {
  outline: #F2785C 2px dotted;
}

/* form:focus {
  outline: #F2785C 2px dotted;
} */

#start-plan {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;

}

.input-plan-style::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #F2785C;
  border: none;

}

.button-plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14.25rem;
  height: 3.6875rem;
  background: #0D606F;
  border: 0;
  padding: 0;
  padding-right: 2px;
  padding-top: 1.3px;
  margin-left: 45px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}

.steps {
  justify-content: center;
  width: 100%;
  height: 26.5rem;
  background-color: white;
  margin: 0;
  margin-top: 0px;
}

.steps>h2 {
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 5rem;
  margin-right: 1px;
  width: 42.43%;
  /*611px/1440*/
  height: 3.3125rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.3125rem;
  color: #F2785C;
}

.container-steps {
  justify-content: space-between;
  width: 81.736%;
  /* 1177/1440; */
  height: 9.625rem;
  margin-bottom: 3.5rem;
}

.steps-icon {
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  height: 9.625rem;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #0D606F;
}

.icon-container {
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  background: #F2785C;
  border-radius: 1rem;
  margin-bottom: 1.8rem;
}

.bicycle-container {
  width: 15.4375rem;
  /*247px*/
  margin-right: 4.4rem;
}

.plane-container {
  width: 19.8125rem;
}

.calendar-container {
  width: 13.875rem;
}


.steps-icon>p {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  height: 1.5625rem;
  /* display: flex;
  align-items: center; */
}

.bicycle--fix {
  margin-right: 0.1rem;
  background: no-repeat center #F2785C url(../images/bicycle_icon.svg);
}

.plane-fix {
  margin-left: 0.1rem;
  background: no-repeat center #F2785C url(../images/plane_icon.svg);
}

.calendar-fix {
  background: no-repeat center #F2785C url(../images/calendar_icon.svg);
}

.destinations {
  position: relative;
  left: -100%;
  justify-content: center;
  align-items: flex-start;
  width: 300%;
  /*2520px*/
  height: 69rem;
}

.destinations>h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.313rem;
  margin-left: 2px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.3125rem;
  color: #F2785C;
}

.town-container {
  position: relative;
  left: 0;
  width: 50rem;
  height: 50rem;
  border-radius: 16px;
  margin-top: 15px;
  margin: 15px 30px 0px;
  /* transition: all 0.3s ease 0s; */

}

.town-text {
  position: relative;
  left: 0.9375rem;
  top: 44.875rem;
  width: 4.125rem;
  height: 2.625rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.625rem;
  color: #FFFFFF;
}

.slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 0px;
}

.spain-img {
  background: url(../images/spain.jpg);
}

.japan-img {
  background: url(../images/japan.jpg);
}

.usa-img {
  background: url(../images/usa.jpg);
}

#see_more {
  margin-top: 40px;
}


.scroll-circles {
  align-items: flex-start;
  justify-content: space-between;
  width: 5rem;
  height: 1.25rem;
  margin-left: 0.125rem;
  position: relative;
  top: -10px;
  /* margin-top: 1px; */
}


.find-dest {
  margin-bottom: 30px;
}

.color-circle {
  width: 1.25rem;
  height: 1.25rem;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
}

.color-circle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.bright {
  background: #F2785C;
}

.find-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14.25rem;
  height: 3.688rem;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-left: 5px;
}


.find-more-button {
  justify-content: space-between;
  align-items: center;
  color: white;
  background: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.find-more-button:hover {
  cursor: pointer;
}

.arrow-img {
  display: block;
  margin-left: 1.9375rem;
}

.find-text {
  display: block;
  width: 7.25rem;
  height: 2rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  margin-right: 2rem;
  margin-top: 0.1875rem;
}

.boat-bg {
  width: 100%;
  height: 1331px;
  background: url("../images/bg_travel.jpg");
  margin-top: 2.5rem;
  /* background-size: 1442px; */
}

.travel {
  align-items: flex-start;
}

.white-bg {
  width: 100%;
  height: 79.375rem;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
}

.travel-stories {
  justify-content: start;
  align-items: center;
  width: 83.4028%;
  margin-top: 40px;
  /*1201px*/
  ;
  height: 1090px;
  /* 1090px */
}

.section-header {
  width: 20.9375rem;
  height: 3.3125rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.3125rem;
  color: #F2785C;
  margin-top: 1.125rem;
}

.story-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
  margin-top: 30px;
}

.story-block:nth-child(1) {
  margin-top: 0;
}

.story-header {
  width: 760px;
  height: 42px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.625rem;
  color: #0D606F;
}

.story-text {
  width: 47.5rem;
  height: auto;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #0D606F;
  margin-top: 1.4375rem;
}

.story-img {
  display: block;
  width: 25rem;
  height: 15.625rem;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;

}

.story-wrapper {
  margin: 0;
  margin-left: 40px;
}

.thai-img {
  /* margin-top: 1.25rem; */
  background: top no-repeat url("../images/thailand.jpg");
}

.uta-img {
  /* margin-top: 10px; */
  background: top no-repeat url("../images/utah.jpg");
}

.mountain-img {
  background: top no-repeat url("../images/mountains.jpg");
}

.journey-img {
  /* margin-top: -10px;*/
  /* margin-left: -1px; */
  background: top no-repeat url("../images/journey.jpg");
}

.see-more {
  display: block;
  width: 7.25rem;
  height: 2rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  margin-right: 2.25rem;
  margin-top: 0.1875rem;
}

.story-wrapper>p+a {
  margin-top: -2.5rem;
}

.footer-wrapper {
  width: 100%;
  height: 3.75rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 36.875rem;
  padding-top: 0.0625rem;
}

.footer-wrapper>p {
  width: 16.25rem;
  height: 1.3125rem;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #F8F8F8;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 2.1031rem;
  padding-right: 8.3125rem;
}

.footer-media {
  width: 2.1031rem;
  height: 2.1031rem;
}

.github {
  background: center no-repeat url("../images/github_media.png");
  background-size: cover;
}

.rs-school {
  background: center no-repeat url("../images/rs_logo.png");
  background-size: cover;
  width: 6rem;
}

.youtube {
  background: center url("../images/youtube_logo.png");
  background-size: cover;
}

.fill-width {
  width: 100%;
  height: auto;
  justify-content: center;
}


.story-wrapper>div>a {
  display: block;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  width: fit-content;
  color: #0D606F;
  text-decoration-line: underline;

  /* display: flex; */
}

/* .wrapper {} */

body {
  margin: 0px;
}

li {
  list-style-type: none;
}

a {
  /* font-family: 'Red Hat Text'; */
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  margin-block: 0;
}

h2, h3 {
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block: 0;
}

button {
  background: 0;
  border: 0;
  padding: 0;
}


.usa_mid {
  left: -20%;
  transition: all 0.5s ease 0s;
}

.spain_mid {
  left: 20%;
  transition: all 0.5s ease 0s;
}

.japan_mid {
  left: 0%;
  transition: all 0.5s ease 0s;
}

.create_account {
  width: 650px;
  height: 436px;
}


.menu-390,
.status-bar,
.arrow-390,
.close-menu,
.nav-390width {
  display: none;
}

@media screen and (max-width: 425px) {

  .pop-up {
    width: 90%;
    margin-top: 50px;
  }

  .create_account {
    width: 90%;
    height: 436px;
  }


  .container-header {
    width: 100%;
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 100%);
  }

  .status-bar {
    display: block;
    width: 100%;
    height: 44px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 390px;
    min-height: 1475px;
    padding: 0;
  }

  .header-style {
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: 358px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    box-shadow: none;
    margin: 0 auto;
    padding: 0;
    padding-right: 4px;
    overflow: hidden;
  }

  .logo-link {
    width: 29px;
    height: 30px;
    margin: 0;
    background: top no-repeat url(../images/media390/travel_logo.svg);
  }

  .menu-390 {
    display: block;
    width: 35px;
    height: 32px;
    z-index: 10;
    background: top no-repeat url(../images/media390/menu_line.svg);
  }

  .search-input {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    margin: 0;
    min-width: 360px;
    width: auto;
    height: 48px;
    background: none;
    border-radius: 0;
  }

  #start-plan {
    width: 360px;
    height: 48px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding-left: 17px;
    padding-right: 9px;
    margin: 0 auto;
  }

  .button-plan {
    width: 92px;
    height: 30px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .input-plan-style {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    background: 0;
    /* background: rgba(255, 255, 255, 0.7); */
  }

  .input-plan-style::placeholder {
    width: 226.01px;
    height: auto;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F2785C;
    border: none;

  }

  .bg-container {
    position: relative;
    width: 100%;
    min-height: 251px;
    background: #FFFFFF top no-repeat url(../images/media390/mountains_bg.jpg);
    overflow: hidden;
  }

  .preview {
    display: flex;
    align-items: flex-end;
    width: 390px;
    height: auto;
    /* min-height: 251px; */
    display: block;
    margin: 0;
    margin-top: 66px;
  }

  .steps {
    width: 100%;
    height: 153px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }

  .steps>h2 {
    width: 214px;
    height: 19px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    padding: 0;
  }

  .container-steps {
    justify-content: space-between;
    width: 100%;
    height: 111px;
    margin: 0;
    padding: 0;
    margin-top: 18px;
    margin-left: 4px;
  }

  .steps-icon {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 1px;
    padding: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #0D606F;
  }

  .icon-container {
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 16px;
    margin: 0;
    padding: 0;
  }

  .bicycle-container {
    width: 94px;
    margin: 0;
    padding: 0;
  }

  .calendar-container {
    width: 111px;
    margin: 0;
    padding: 0;
  }

  .plane-container {
    width: 98px;
    margin: 0;
    padding: 0;
  }

  .plane-fix {
    background: no-repeat center #F2785C url(../images/media390/plane_icon.svg);
  }

  .bicycle--fix {
    background: no-repeat center #F2785C url(../images/media390/bycicle_icon.svg);
  }


  .calendar-fix {
    background: no-repeat center #F2785C url(../images/media390/calendar_icon.svg);
  }

  .steps-icon>p {
    margin-top: 19px;
  }

  .bicycle-container>p {
    margin-left: 11px;
  }

  .plane-container>p {
    text-align: right;
    padding-right: 15px;
  }

  .destinations {
    padding-top: 20px;
    width: 100%;
    height: 289px;
    position: static;
    left: 0;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
  }

  .town-container {
    margin: 0 15px;
  }

  .slider {
    width: 1260px;
    height: 210px;
    left: 0px;
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .town-container:first-child,
  .town-container:last-child {
    display: none;
  }



  .spain-img {
    width: 360px;
    height: 210px;
    background: url(../images/media390/spain_390.jpg), #FFFFFF;
    border-radius: 16px;
    /* margin: 0;
    padding: 0; */
  }

  .japan-img {
    width: 360px;
    height: 210px;
    background: url(../images/media390/japan_390.jpg), #FFFFFF;
    border-radius: 16px;
    /* margin: 0;
    padding: 0; */
  }

  .usa-img {
    width: 360px;
    height: 210px;
    background: url(../images/media390/usa_390.jpg), #FFFFFF;
    border-radius: 16px;
    /* margin: 0;
    padding: 0; */
  }

  .destinations>h2 {
    width: 176px;
    height: 19px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #F2785C;
  }

  .town-text {
    position: static;
    width: 60px;
    height: 26px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 8px;
  }

  .disable {
    opacity: 0.5;
  }

  .scroll-circles {
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 36px;
    height: 8px;
    margin: 0;
  }



  .color-circle {
    width: 8px;
    height: 8px;
  }




  .find-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px 32px; */
    width: 92px;
    height: 30px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin: 0;
    margin-top: 2px;
  }

  .find-text {
    width: 52px;
    height: 15px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    margin-right: 6px;
  }

  .arrow-img {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0;
    margin-left: 7px;
  }

  .find-more-button {
    justify-content: space-between;
    align-items: center;
    color: white;
    background: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 5px;
  }

  .arrow-390 {
    display: block;
    width: 30px;
    height: 30px;
  }

  .left-arrow {
    position: relative;
    bottom: 190px;
    right: 145px;
    background: no-repeat center url("../images/media390/left_arrow.svg");
  }

  .right-arrow {
    position: relative;
    bottom: 190px;
    left: 145px;
    background: no-repeat center url("../images/media390/right_arrow.svg");
  }

  .usa_mid {
    left: -100%;
  }

  .spain_mid {
    left: 100%;
  }

  .japan_mid {
    left: 0%;
  }




  .travel {
    width: 390px;
    height: 657px;
    justify-content: center;
    margin-top: 40px;
  }

  .section-header {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #F2785C;
    width: 118px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }

  .boat-bg {
    width: 100%;
    height: 693px;
    background: no-repeat center url(../images/media390/boat-bg390.jpg);
    margin: 0;
    margin-top: 10px;
    /* padding: 0, 15px; */
    /* background-size: 1442px; */
  }

  .white-bg {
    width: 100%;
    height: 628px;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
  }

  .travel-stories {
    width: 360px;
    height: 585px;
    margin: 0;
  }

  .story-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 360px;
    height: 130px;
    margin-top: 15px;
  }

  .story-block:nth-child(1) {
    margin-top: 10px;
  }

  .story-img {
    width: 155px;
    height: 130px;
  }

  .thai-img {
    background: top no-repeat url("../images/media390/thai390.jpg");
  }

  .uta-img {
    background: top no-repeat url("../images/media390/utah390.jpg");
  }

  .mountain-img {
    background: top no-repeat url("../images/media390/mountains390.jpg");
  }

  .journey-img {
    background: top no-repeat url("../images/media390/jouyrney390.jpg");
  }

  .story-header {
    width: 100%;
    height: 13px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    color: #0D606F;
  }

  .story-wrapper {
    width: 195px;
    height: 125px;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
  }

  .story-text {
    width: 195px;
    height: 89px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    margin: 0;
    margin-top: 10px;
    overflow: hidden;
  }

  .story-wrapper>div>a {
    display: block;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    width: fit-content;
    color: #0D606F;
    text-decoration-line: underline;
    /* display: flex; */
  }

  #see_more {
    margin-top: 10px;
  }

  .see-more {
    width: 49px;
    height: 15px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 0;
    margin-right: 8px;
  }

  .footer-wrapper {
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .social-media {
    width: auto;
    height: 33.65px;
    padding: 0;
    margin: 0;
  }

  .social-media>li {
    height: 33.65px;
  }

  .nav-container {
    display: flex;
    width: 165px;
    height: 250px;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    margin: 0;
    position: absolute;
    z-index: 50;
    top: -100%;
    right: -100%;
    transition: all 0.3s ease 0s;
  }

  .nav-container.active {
    top: 0%;
    right: 0%;
    /* left: 50%;
    margin-left: -100px; Где 100px - это половина ширины блока. */
    transition: all 0.3s ease 0s;
  }

  /* .nav-container {
    display: none;
  } */

  .navigation {
    width: 106px;
    height: 176px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin: 44px 15px 30px 6px;
  }

  .nav-390width {
    display: list-item;
  }

  .close-menu {
    display: block;
    width: 30px;
    height: 30px;
    background: center no-repeat url(../images/media390/close_menu.svg);
    margin-top: 8px;
    margin-left: 8px;
  }

  .explore-h1,
  .explore-p,
  .login,
  .text-link,
  .footer-rights {
    display: none;
  }
}


.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}



/* Aleo bold */
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local('Aleo'), url(../fonts/Aleo/Aleo-Bold.ttf);
}

/* Aleo bold italic*/
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local('Aleo'), url(../fonts/Aleo/Aleo-BoldItalic.ttf);
}

@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local('Aleo'), url(../fonts/Aleo/Aleo-Italic.ttf);
}

@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo'), url(../fonts/Aleo/Aleo-Regular.ttf);
}

/* red-hat-text-regular - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-text-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/red-hat-text-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/red-hat-text-v11-latin-regular.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-text-v11-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/red-hat-text-v11-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/red-hat-text-v11-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/red-hat-text-v11-latin-500.svg#RedHatText') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 800;
  src: local('Magra'), url(../fonts/Magra/Magra-Bold.ttf);
}